<html>
    <head>
        <meta charset="utf-8" /> 
        <title><%= title %></title>
    <link href="/dist/bundle.410b2ae1.css" rel="stylesheet"></head>
    <body>
        <div id="root">
            <%- html %>
        </div>
        <script type="text/javascript">
        	window.__store__ = <%- store %>
        </script>
    <script type="text/javascript" src="/dist/manifest.bf57362c.js"></script><script type="text/javascript" src="/dist/vendor.174780f3.js"></script><script type="text/javascript" src="/dist/app.410b2ae1.js"></script></body>
</html>